.option{
    font-family: Manrope;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0%;
        vertical-align: middle;
        color: #8D929A;
}
.selectedItem {
    font-family: Manrope;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0%;
        vertical-align: middle;
    color: black;
}