.selectWrapper{
position: relative;
    width: 204px;
        height: 44px;
        
        border-radius: 12px;
        font-family: Manrope;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0%;
        vertical-align: middle;
       
        padding-left: 16px;
        padding-right: 16px;
        appearance: none;
        /* ✅ скрывает дефолтную стрелку */
        -webkit-appearance: none;
        /* Safari */
        -moz-appearance: none;
        background: #f9f9f9 url('/src/assets/chevron-down.svg') no-repeat right 16px center;
        align-items: center;
        justify-content: center;
        

        
}

.placeholder{
    display: flex;
    align-items: center;
    padding: 8px 12px;
        height: 40px;
   
}

.listContainer {
    background-color: #FFFFFF;
    position: absolute;
    
    left: 0px;
    top:50px;
    z-index: 9999;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    width: 204px;
            height: 222px;
            padding: 10px;
       

    opacity: 0;
            transform: translateY(-10px);
            pointer-events: none;
            transition: opacity 0.25s ease, transform 0.25s ease;

}

.select{
    overflow: hidden;
    background-color: #FFFFFF;
      left: 6px;    
        max-width: 190px;
            max-height: 202px;
        overflow-y: auto;
        padding-left: 10px;
        margin: 0px;
    
}


                          
.select::-webkit-scrollbar {
    width: 6px;
}

.select::-webkit-scrollbar-track {
    background: transparent;
}

.select::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
 }
 
.visible {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto; 
}


    
.hidden {
     opacity: 0;
     transform: translateY(-10px);
    pointer-events: none;   
  }
  .selectedItem{
    font-weight: bold;
    color: black;
  }